<title>Appartement</title>
<h1>Liste des pièces de l'appartement</h1>
<table>
    <tbody>
        <% for (let i = 0 ; i < appartment.length ; i++) { %>
            <tr>
                <td>Pièce: <%= appartment[i].name %></td>
            </tr>
        <% } %> 
    </tbody>
</table>
<form>
    <input type="submit" id="formButton" value="Encoder une autre pièce" formaction="/addRoom"/>
</form>